
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="page-header">
        <h3></h3>
      </div>
      <p class="lead">Where in San Francisco do you want to find food trucks at?</p>
      <form  class="navbar-form navbar-left" action="/gettrucks" method="post">
        <div class="form-group">
          <input required type="text" name="loc" id="loc" class="form-control input-lg" 
          placeholder="What's the address?" >
        </div>
        <button type="submit" class="btn btn-default btn-lg">Find</button>
      </form>

    </div>
  </body>
</html>
